.field{
    fill: #fffffb;
    stroke: black;
}

.hideships{
    fill: #fffffb;
    stroke: black;
}

.field:hover{
    fill: #daefff;
}

.field:active{
    fill: #fff663;
}
.ships{
    fill: #1c4f8c;
    stroke: #254554;
}

.lock{
    fill: #fffffb;
    stroke: #7c878b;
}

.hit{
    fill: rgb(99, 0, 13);
    stroke: #2d0007;
}

.miss{
    fill: rgb(209, 207, 83);
    stroke: #2d2d0d;
}

.cont{
    fill: aliceblue;
    stroke: black;
}

.text{
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.shots{
    width: 450px;
    height: 250px;
    position: absolute;
    background-color: #fff663;
}